{
	"cmdPrefix": "!",
	"allianceName": "<NONE>",
	"guildName": "Laughing trolls",
	"username": "AO-Killbot",
	"admins": [
		""
	],
	"botChannel": "485029358290075648",
	"playingGame": "Albion Killboard Bot",
	"token": ""
}
